@media screen and (max-width: 600px){
}

body{
  background-color: #FFFFE0;
}
table {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
text-align:center;
background-color: #800000;

}

td {
  padding: 10px;
  border-spacing: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: #FFFFE0;
  font-size: 300%;
  font-weight: bold;

}
td:hover{
  background-color: white;
}
a:hover {
  color: black;
}
a {
  font-family: 'Times New Roman', Times, serif;
    display: inline-block ;
    padding: 30px 15px;
    font-size:100%;
    text-decoration: none;
    color: #FFFFE0;
}
img {
width: 2400px;
height: 1000px;
/*opacity: 0.8;*/
}
 .picture {
   position: relative;
   text-align: center;
   color: black;
 }
h1 {
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-80%, -50%);
  font-size: 250px;
  font-family: serif;
  color: #008000;
}


.form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}


.form label {
  margin: 5px 10px 5px 0;
}


.form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form input {
    margin: 10px 0;
  }
}
.myimg {
  width: 350px;
  height: 350px;
  border-radius: 350px;
}
p {
  font-size: 60px;
  font-family: serif;
  color: #800000;
}
h2 {
  font-size: 120px;
  font-family: serif;
  color: #008000;
}
#name{
  border: 3px solid #F5DEB3;
  width:30%;
  hieght: 300px;
  float: left;
  width: 33.33%;
  padding: 5px;
}
form {
  font-size: 40px;
  font-family: serif;
  color: black;
}
input{
  width: 450px;
  height: 40px;
  font-size: 30px;
}
button{
width: 300px;
height: 60px;
font-size: 40px;
}
footer {
  font-size: 30px;
}
