<<<<<<< HEAD
=======

>>>>>>> master
body{
  background-color: #FFFFE0;
}
table {
  font-family: 'Times New Roman';
  width: 100%;
text-align:center;
background-color: #800000;
}
td {
  padding: 10px;
  border-spacing: 50px;
  font-family: 'Times New Roman';
  color: #FFFFE0;
  font-size: 300%;
  font-weight: bold
}
td:hover{
  background-color: white;
}
a:hover {
  color: black;
}
a {
  font-family: 'Times New Roman';
    display: inline-block ;
    padding: 30px 15px;
    font-size:100%;
    text-decoration: none;
    color: #FFFFE0;
}

#name {
  display: inline;

}

img {
width: 2400px;
height: 1000px;
}
h1 {
  position: absolute;
  top: 8%;
  left: 65%;
  transform: translate(-80%, -50%);
  font-size: 250px;
  font-family: serif;
  color: #008000;
}
form {
  font-size: 50px;
  font-family: serif;
  color: #800000;
 display: inline-block;
  float: center;
  margin: 2%;
  width: 100%;
}
p {
  font-size: 60px;
  font-family: serif;
  color: #800000;
}
h2 {
  font-size: 120px;
  font-family: serif;
  color: #008000;
}

form {
  font-size: 40px;
  font-family: serif;
  color: black;
}
input{
  width: 450px;
  height: 40px;
  font-size: 30px;
}
button{
font-size:35px;
}
footer {
  font-size: 30px;
 text-align: center;
}
h3{
  font-size: 70px;
  font-family: fantasy;
  color: #008000;
  text-align: center;
  margin-bottom: 20px;
}
#FirstName {
 width:33.3%;
 height: auto;
  float: left;
  text-align: center;
}
#SecondName{
 width:33.3%;
 height: auto;
  float: left;
  text-align: center;
}
#ThirdName {
 width:33%;
 height: auto;
  float: left;
  text-align: center;
}
 .picturebackground {
   position: relative;
   text-align: center;
 }
.form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.myimg {
  width: 350px;
  height: 350px;
  border-radius: 350px;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 30px;
  }
}
